

<app-homepage> </app-homepage> 

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-8" style="margin-left:-15px;">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let url of portalImages">
                  <img [src]="url.imagePath" alt="{{url.imagePath}}" class="w-100" style="height: 73vh;"/>
                </ng-template>S
              </ngb-carousel>
        </div>
    

               <div class="abc">
                    <h1>
                        <i class="" style="color:brown ;" id="news_event"> Notice Board</i>
                    </h1>
                
                  <marquee onmouseover="this.stop()" onmouseout="this.start()" style="text-align:center" width="50%" direction="up" scrolldelay="250" height="70%" style="color: rebeccapurple;">
                    <div *ngFor="let notice of noticeList">
                        <h4>{{notice.event_name}}</h4>
                          <br>
                        <h5 >{{notice.event_date}}</h5>
                          <br>
                            <a style="color:red;" (click)="showNoticeDescription(notice)">Read more</a>
                          <br><br><br>
                    </div>
                  </marquee> 
               </div>
    </div> 
  </div>
  <router-outlet></router-outlet> 

