<div class="container ">
  <h2 align="center">User Profile</h2>
    <div class="form-group">
    <table align="center" *ngFor="let user of userProfileData">
      <tr>
        <td>
        <label for="fName">
          First Name :
        </label> 
        </td>
        <td>
          <input type="text" [(ngModel)]="user.firstName" class="form-control" required="required" [disabled]="isUpdate" />
          <span id="fnamespan"> </span>
        </td>
      </tr>
     <tr>
        <td>
          <label for="mName">
            Middle Name :
          </label> 		  
        </td>
        <td>
          <input type="text" [(ngModel)]="user.middleName" class="form-control" required="required" [disabled]="isUpdate" />
          <span id="mnamespan"> </span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="lName">
            Last Name :
          </label> 	
        </td>
        <td>
          <input type="text" [(ngModel)]="user.lastName" class="form-control" required="required" [disabled]="isUpdate" />
          <span id="lnamespan"> </span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="uName">
            UserName :
          </label> 	 
        </td>
        <td>
          <input type="text" [(ngModel)]="user.userName" class="form-control"  required="required" [disabled]="isUpdate" />
        <span id="spanid"></span>
        <span id="unamespan"></span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">
            Password :
          </label> 	
        </td>
        <td>
          <input type="password" [(ngModel)]="user.password" class="form-control"  required="required" [disabled]="isUpdate" />
          <span id="PassSpan"></span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="dob">
            DOB :
          </label> 	
        </td>
        <td>
          <input type="date" [(ngModel)]="user.dob" class="form-control"   required="required" [disabled]="isUpdate" />
        </td>
      </tr>
    
      <tr>
        <td>
          <label for="eid">
            Email ID :
          </label> 	
        </td>
        <td>
          <input type="email" class="form-control" [(ngModel)]="user.emailId"  required="required" [disabled]="isUpdate" />
        <span id="emailid"></span>
        <span id="emailspan"></span> 	
        </td>
      </tr>
      <tr>
        <td>
           <label for="mNo">
            Mobile No :
          </label> 	 
        </td>
        <td>
          <input type="text" [(ngModel)]="user.mobileNo" class="form-control" required="required" [disabled]="isUpdate"/>
          <span id="mobispan"></span>
        </td>
      </tr>
      
      <tr>
        <td>
          <label for="fmNo">
              Father Mobile Number :
          </label> 	
            
        </td>
        <td>
          <input type="text" [(ngModel)]="user.father_MobNo" class="form-control"  required="required" [disabled]="isUpdate" />
          <span id="fmobispan"></span>
        </td>
      </tr>
       <tr>
        <td>
          <label for="city">
               City :
          </label>
            
        </td>
        <td>
          <input type="text" [(ngModel)]="user.city" class="form-control"  required="required" [disabled]="isUpdate" />
            <span id="cityspan"></span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="state">
               State :
          </label>
            
        </td>
        <td>
          <input type="text" [(ngModel)]="user.state" class="form-control" required="required" [disabled]="isUpdate" />
            <span id="statespan"></span>
        </td>
      </tr>
      
      <tr>
        <td>
          <label for="Street">
            Street :
          </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="user.street" class="form-control"  required="required" [disabled]="isUpdate" />
            <span id="streetspan"></span>
        </td>
      </tr>
      <tr>
        <td>
           <label for="lMark">
             LandMark :
          </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="user.landMark" class="form-control"  required="required" [disabled]="isUpdate" />
          <span id="landmarkspan"></span>
        </td>
      </tr>
      <tr>
        <td>
           <label for="hNo">
            House No :
          </label>
        </td>
        <td>
          <input type="text" [(ngModel)]="user.houseNumber"  class="form-control"  required="required" [disabled]="isUpdate" />
          <span id="housenospan"></span>
        </td>
      </tr>
      <tr>
        <td>
          <label for="pCode">
            Pincode :
          </label>
        </td>
        <td>
          <input type="text"  [(ngModel)]="user.pincode" class="form-control" required="required" [disabled]="isUpdate" />
          <span id="pincodespan"></span>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" (click)="isCheckedForUpdate()" [checked]="isChecked">
        </td>
        <td>
          If You Want To Update Your Profile Please check this CheckBox
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit"  class="btn btn-success" (click)="onUpdate()" value="Update" [disabled]="isUpdate"/>
          <!-- <input type="reset" class="btn btn-primary" value="Reset" [disabled]="isUpdate" /> -->
        </td>
      </tr> 
    </table>
    </div>
  </div>